.navbar {
  position: fixed;
  min-width: 100%;
  z-index: 1000;
  opacity: 0.7;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-family: "DM Serif Display";
}

.navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer;
  background: rgba(0, 255, 0, 0.2);
}

.logo {
  width: 120px;
}

.core-menu {
  align-items: center;
  display: flex;
}

.modal-container {
  transition: opacity 0.3s ease-in-out;
}

.modal-container.ng-tns-c0-0 {
  opacity: 0;
}

.navbar-opacity {
  width: 100%;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.dropdown-item {
  cursor: pointer;
}

.user {
  font-size: 1.4em;
  list-style-type: none;
  padding: 0.7rem 0.8rem 0 0;
  font-weight: bold;
}
