<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="loginModal">Moje scitace</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton></button>
    </div>
    <div class="modal-body">

      <div *ngIf="data.length === 0">
        <p>Aktuálne nemáš žiadne vlastné scitace. Pre pridanie zariadenia choď do <strong>'Nastavenia'</strong> -> <strong>'Pridať scitac'</strong>.</p>
      </div>
      
      <div *ngFor="let device of data">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ device.name }}</mat-card-title>
            <mat-card-subtitle>{{ device.location }}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-card-content>
            {{ device.apiUrl }}
          </mat-card-content>
          <mat-card-actions class="actions" align="end">
            <button mat-button color="primary" (click)="editDevice(device.name)">Zmenit udaje</button>
            <button mat-button color="warn" (click)="deleteDevice(device.name)">Vymazat</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>